html {
    font-size: 62.5%; /*hace que rem=10px */
}
:root {
   --weird-magenta: #ff59f3;
   --darkpink: #ff5e86;
   --cute-orange: #ffad49;
   --yellow-lemon: #f7e760;
   --cool-green: #a6ffa7;
   --sm: 1.4rem;
   --md: 1.6rem;
   --lg: 1.8rem;
   --xl: 3.6rem;
   }
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
}
.primary-card {
    width: 40rem;
    min-height: 35rem;
    background-color: var(--yellow-lemon);
    margin: auto ;
    position: relative;
    top: 10rem;
    border-radius: 5rem;
}
.primary-card figure{
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: -5rem;
    left: 10rem;
}
.primary-card figure img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: lightgray;
}
.primary-card > div {
    position: relative;
    top: 20rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30rem;
    margin: auto;
    text-align: center;
}
.primary-card h1{
    font-size: var(--xl);
}